.env

/server/node_modules
server/logs/chroma_db/
chroma_db/
chroma_db/
 
# Ignore Chroma DB and runtime data
server/chroma/chroma.sqlite3
server/chroma/*.sqlite3
server/chroma/*/
server/chroma/*/*.bin
server/chroma/*/data_level*
node_modules/
