#root {
  text-align: center;
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;          /* vertical padding only */
  background-color: #10332D;
  color: beige;

  display: flex;
  justify-content: center;  /* center horizontally */
  align-items: center;      /* center vertically */
  text-align: center;
}


